<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Announcement_App_2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Announcement_App_2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Announcement_App_2.Properties.Settings>
            <setting name="launchOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="minimizeToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showNotifications" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="refreshInterval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="oldAnnouncementTime" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="xmlDocumentPath" serializeAs="String">
                <value />
            </setting>
        </Announcement_App_2.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Announcement_App_2.Properties.Settings>
            <setting name="databaseConnectionString" serializeAs="String">
                <value></value>
            </setting>
        </Announcement_App_2.Properties.Settings>
    </applicationSettings>
</configuration>
